{#
/**
 * @file
 * Default theme implementation to display a forum.
 *
 * May contain forum containers as well as forum topics.
 *
 * Available variables:
 * - forums: The forums to display (as processed by forum-list.html.twig).
 * - topics: The topics to display.
 * - topics_pager: The topics pager.
 * - forums_defined: A flag to indicate that the forums are configured.
 *
 * @see template_preprocess_forums()
 *
 * @ingroup themeable
 */
#}
{% if forums_defined %}
  {% if term.description.value %}
    <div class="forum-description">
      {{ term.description.value|raw }}
    </div>
    <div class="forum-actions">
      <a href="/node/add/forum?forum_id={{ term.tid.value }}" aria-label="{{ 'Add new forum topic'|t }}" class="btn btn-success" data-layer="add-new-forum-topic--user-logged">
        <i class="fa fa-comments"></i>&nbsp;{{ 'Add new forum topic'|t }}
      </a>
    </div>

  {% endif %}
  {{ forums }}
  {{ topics }}
  {{ topics_pager }}
{% endif %}
