{% extends "paragraph.html.twig" %}

{% block content %}
    <div class="hero-wrapper{{ top_background }}{{ less_height }}">
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <div class="subtitle">
          {{ content.field_subtitle }}
        </div>
        <div class="title">
          <h1>
            {{ content.field_title }}
          </h1>
        </div>
        <div class="text">
          {{ content.field_text_plain }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
