{% extends "node.html.twig" %}

{% block title %}
{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}
  {% set teaser_title_id = 'teaser-title-' ~ node.id|clean_id %}
  <div class="content">
    <div class="type">{{ node.type.entity.label }}</div>
    <h3 id="{{ teaser_title_id }}">{{ label.0['#context'].value }}</h3>
    {{ content }}
    <a href="{{ url }}" class="link" aria-labelledby="{{ teaser_title_id }}" title="Read more: {{ label.0['#context'].value }}">{{ 'Read more'|t }}</a>
    <div class="date">
      {{ node.getCreatedTime|date('F j Y') }}
    </div>
  </div>
{% endblock %}
