{% extends "node.html.twig" %}

{% block title %}
{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="content">
    <h3>{{ label }}</h3>
    {{ content }}
    <a class="link" href="{{ url }}" rel="bookmark">{{ 'Read more'|trans }}</a>
    <div class="date">
      {{ node.getCreatedTime|date('F j Y') }}
    </div>
  </div>
{% endblock %}
