<div class="een-modal" id="info-popup">
  <div class="een-modal__container">
    <div class="een-modal__close"><span class="icon-close modal-close-button"></span></div>
    <h2 class="een-modal__title">{{ 'Information'|t }}</h2>
    <p class="een-modal__text">{{ 'You are on the test website of the European Encyclopedia Network and its content is not intended for the public.'|t }}</p>
    <p class="een-modal__text">{{ 'Please go to the page'|t }} <a href="{{ prod_url.url }}">{{ prod_url.text }}</a></p>
  </div>
</div>
