{% extends "node.html.twig" %}

{% block title %}
{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}
  <div class="content">
    <div class="date">
      <span class="month">{{ node.getCreatedTime|date('F') }}</span>
      <span class="date-num">{{ node.getCreatedTime|date('j') }}</span>
      <span class="year">{{ node.getCreatedTime|date('Y') }}</span>
    </div>
    <div class="bottom">
      <h3>
        <a href="{{ url }}" aria-label="{{ label.0['#context'].value }}" title="{{ label.0['#context'].value }}" rel="bookmark">{{ label }}</a>
      </h3>
      {{ content }}
    </div>
  </div>
{% endblock %}
